## Importo la libreria de Pandas

In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [71]:
peliculas = {
    'nombre': ['Titanic', 'Kill Bill', 'Matrix', 'El padrino', 'Avatar', 'Casablanca', 'El exorcista', 'Soy leyenda', 'El club de la pelea', 'Mujercitas'],
    'director': ['James Cameron', 'Quentin Tarantino', 'Hermanas Wachowski', 'Francis Ford Coppola', 'James Cameron', 'Michael Curtiz', 'William Friedkin', 'Francis Lawrence', 'David Fincher', 'Greta Gerwig'],
    'año': [1997, 2003, 1999, 1972, 2009, 1942, 1973, 2007, 1999, 2019],
    'género': ['romance', 'acción', 'ciencia ficción', 'drama', 'ciencia ficción', 'drama', 'terror', 'ciencia ficción', 'drama', 'drama'],
    'puntaje': [8.6, None, 6.9, 7.5, 9.1, 6.0, None, None, 9.4, 8.0]
}

#? Creamos el DataFrame 
df = pd.DataFrame(peliculas)
df #Mostramos el dataframe

                nombre              director   año           género  puntaje
0              Titanic         James Cameron  1997          romance      8.6
1            Kill Bill     Quentin Tarantino  2003           acción      NaN
2               Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
3           El padrino  Francis Ford Coppola  1972            drama      7.5
4               Avatar         James Cameron  2009  ciencia ficción      9.1
5           Casablanca        Michael Curtiz  1942            drama      6.0
6         El exorcista      William Friedkin  1973           terror      NaN
7          Soy leyenda      Francis Lawrence  2007  ciencia ficción      NaN
8  El club de la pelea         David Fincher  1999            drama      9.4
9           Mujercitas          Greta Gerwig  2019            drama      8.0

## Ejercicio 1
**1**. Mostrar la información del DataFrame con el método info(), ¿Cómo se llaman y qué tipo de dato tiene cada columna? ¿Cuántos elementos nulos hay en cada columna? Interpretar qué información se guarda en esta tabla y para qué puede servir

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    10 non-null     object
 1   director  10 non-null     object
 2   año       10 non-null     int64
 3   género    10 non-null     object
 4   puntaje   7 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 532.0+ bytes

Las columnas son 5 en total, nombre tiene datos del tipo string (object), director tiene datos del tipo string (object), año tiene datos del tipo entero (int64), género tiene datos del tipo string (object) y puntaje tiene datos del tipo flotante (float64). La única columna que tiene elementos nulos es puntaje, la caul tiene 3 elementos nulos.

## Ejercicio 2
**2**. Mostrar sólo los nombres de las primeras 3 películas del DataFrame.

In [55]:
# df.loc[:2,'nombre']
#? Otra forma
df.head(3)['nombre']

0      Titanic
1    Kill Bill
2       Matrix
Name: nombre, dtype: object

## Ejercicio 3
**3**. Mostrar sólo el director y el género de todas las películas.

In [18]:
df.loc[:,['director', 'género']]

               director           género
0         James Cameron          romance
1     Quentin Tarantino           acción
2    Hermanas Wachowski  ciencia ficción
3  Francis Ford Coppola            drama
4         James Cameron  ciencia ficción
5        Michael Curtiz            drama
6      William Friedkin           terror
7      Francis Lawrence  ciencia ficción
8         David Fincher            drama
9          Greta Gerwig            drama

## Ejercicio 4
**4**. Mostrar las películas que sean de drama.

In [19]:
df[df['género'] == 'drama']

                nombre              director   año género  puntaje
3           El padrino  Francis Ford Coppola  1972  drama      7.5
5           Casablanca        Michael Curtiz  1942  drama      6.0
8  El club de la pelea         David Fincher  1999  drama      9.4
9           Mujercitas          Greta Gerwig  2019  drama      8.0

## Ejercicio 5
**5**. ¿Qué cantidad de películas hay de cada género?

In [21]:
df['género'].value_counts()

género
drama              4
ciencia ficción    3
romance            1
acción             1
terror             1
Name: count, dtype: int64

## Ejercicio 6
**6**. Mostrar las películas que tengan puntaje entre 6 y 8 y cuyo año de estreno sea anterior a los 2000.

In [25]:
df[(df['puntaje'].between(6,8)) & (df['año'] <= 2000)]

       nombre              director   año           género  puntaje
2      Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
3  El padrino  Francis Ford Coppola  1972            drama      7.5
5  Casablanca        Michael Curtiz  1942            drama      6.0

## Ejercicio 7
**7**. Mostrar las películas que no hayan sido puntuadas (que el puntaje tenga un valor nulo).

In [28]:
df[df['puntaje'].isnull()]

         nombre           director   año           género  puntaje
1     Kill Bill  Quentin Tarantino  2003           acción      NaN
6  El exorcista   William Friedkin  1973           terror      NaN
7   Soy leyenda   Francis Lawrence  2007  ciencia ficción      NaN

## Ejercicio 8
**8**. Calcular el promedio del puntaje de todas las películas.

In [33]:
promedio = df['puntaje'].mean()
print(f'El promedio de puntaje de todas las películas es: {promedio}')

El promedio de puntaje de todas las películas es: 7.928571428571429

## Ejercicio 9
**9**. Ordenar las películas en orden alfabético descendente.

In [34]:
df.sort_values(by=['nombre'], ascending=[False])

                nombre              director   año           género  puntaje
0              Titanic         James Cameron  1997          romance      8.6
7          Soy leyenda      Francis Lawrence  2007  ciencia ficción      NaN
9           Mujercitas          Greta Gerwig  2019            drama      8.0
2               Matrix    Hermanas Wachowski  1999  ciencia ficción      6.9
1            Kill Bill     Quentin Tarantino  2003           acción      NaN
3           El padrino  Francis Ford Coppola  1972            drama      7.5
6         El exorcista      William Friedkin  1973           terror      NaN
8  El club de la pelea         David Fincher  1999            drama      9.4
5           Casablanca        Michael Curtiz  1942            drama      6.0
4               Avatar         James Cameron  2009  ciencia ficción      9.1

## Ejercicio 10
**10**. Mostrar las 3 películas más antiguas.

In [61]:
# tabla_ordenada_antigua = df.sort_values(by=['año'],ascending=[True])
# tabla_ordenada_antigua.head(3)

#? OTRA FORMA
df.sort_values(by=['año'], ascending=[True]).head(3)

         nombre              director   año  género  puntaje
5    Casablanca        Michael Curtiz  1942   drama      6.0
3    El padrino  Francis Ford Coppola  1972   drama      7.5
6  El exorcista      William Friedkin  1973  terror      NaN

In [60]:
# tabla_ord_nueva = df.sort_values(by=['año'],ascending=[False])
# tabla_ord_nueva = tabla_ord_nueva.head(3)
# tabla_ord_nueva.loc[:,['nombre', 'año']]

#? OTRA FORMA
df.sort_values(by=['año'], ascending=[False]).head(3)

        nombre          director   año           género  puntaje
9   Mujercitas      Greta Gerwig  2019            drama      8.0
4       Avatar     James Cameron  2009  ciencia ficción      9.1
7  Soy leyenda  Francis Lawrence  2007  ciencia ficción      NaN

## Ejercicio 11
**11**. Mostrar sólo el nombre y el año de las 3 películas más nuevas.

## Ejercicio 12
**12**. Agregar una columna que indique si la película fue vista, o no. Una película fue vista cuando tiene puntaje no nulo.

In [75]:
#Creo la nueva columna
df['vista'] = df['puntaje'].notnull()
df

,nombre,director,año,género,puntaje,vista
0,Titanic,James Cameron,1997,romance,8.6,True
1,Kill Bill,Quentin Tarantino,2003,acción,NaN,False
2,Matrix,Hermanas Wachowski,1999,ciencia ficción,6.9,True
3,El padrino,Francis Ford Coppola,1972,drama,7.5,True
4,Avatar,James Cameron,2009,ciencia ficción,9.1,True
5,Casablanca,Michael Curtiz,1942,drama,6.0,True
6,El exorcista,William Friedkin,1973,terror,NaN,False
7,Soy leyenda,Francis Lawrence,2007,ciencia ficción,NaN,False
8,El club de la pelea,David Fincher,1999,drama,9.4,True
9,Mujercitas,Greta Gerwig,2019,drama,8.0,True